# Eclipse
.classpath
.project
.settings/
bin/

# Java / Maven
target/

# Logs
*.log*.zip
*.jar
/ThreatRaptor/target/


# PHP / XAMPP
.env
config.php

# Database
*.log

# OS
.DS_Store
Thumbs.db

/Calculator/bin/
/Calculator/target/


/ToDo_List_Mini/bin/
/ToDo_List_Mini/target/



/my_task_main/bin/
/my_task_main/target/



/Connect4_Game/bin/
/Connect4_Game/target/
