*{
    margin:0;
    padding:0;
    font-family:'Poppins' , sans-serif;
    box-sizing : border-box;
}

.container{
    width:100%;
    height:100vh;
    background:#100000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background:#e9eeee ;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(151, 13, 13, 0.1) , 5px 5px 15px rgba(119, 47, 47, 0.916);
    background: transparent;
    font-size: 20px;
    color: #0a0101;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}

form input.operator{
    color: #090909;
}