body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#board {
    height: 540px;
    width: 630px;
    background-color: orange;
    border: 10px solid green;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}
.blue-piece {
    background-color: blue;
}
.red-piece {
    background-color: red;
}

